.title {
    font-size: 32px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    margin: 0 0 18px 0;
}
.repositories-wrap {
    padding: 30px 56px  0 0;
    background-color: #F9F9F9;
    width: 100%;
  
  
}
